# Dependencies
node_modules/

.env
.env.local
.env.*.local
services/*/.env

# Build output
dist/
build/

npm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

coverage/


.docker/